<%- include("partials/messages")  %> 

<form action="/user/profile/edit?_method=PUT" method="post" class="profile-content inner-container">
    <input name="profilepicture" type="file" accept="image/*" id="pp-fileinput" class="filepond">
    <div class="pp-container">
        <!-- Check if the profile picture is undefined -->
        <% if (userData.profilePicturePath) { %>
            <img src="<%= userData.profilePicturePath %>" alt="<%= userData.username %> Profile Picture" class="pp-preview">
        <% } else { %>
            <img src="/unknown-pp.jpg" alt="Unknown Profile Picture" class="pp-preview">
        <% } %> 
    </div>

    <div class="data-section">
        <div class="data">
            <div class="label">Username</div>
            <input class="information" type="text" name="username" value="<%= userData.username %>">
        </div>
        <div class="data">
            <div class="label">Email</div>
            <input type="email" class="information" name="email" value="<%= userData.email %>">
        </div>
        <input type="email" class="information" name="prevEmail" value="<%= userData.email %>" hidden>
        <div class="data">
            <div class="label">Password</div>
            <input type="password" class="information" name="password" value="********" disabled>
        </div>
        <a href="/user/profile/edit-password" class="change-password">
            Click here to change your password.
        </a>
    </div>

    <div class="buttons">
        <a href="/user/profile" class="edit-profile-btn" style="margin: 0;">Cancel</a>
        <button>Update</button>
    </div>
</form>