<%- include("partials/messages")  %> 

<form action="/user/profile/edit-password?_method=PUT" method="post" class="profile-content inner-container">
    <div class="password-section">
        <div class="data-section">
            <div class="data">
                <div class="label">Old Password</div>
                <input class="information" type="password" name="oldpassword" value="<%= lastInput.oldpassword || "" %>">
            </div>
            <div class="data">
                <div class="label">New Password</div>
                <input type="password" class="information" name="newpassword" value="<%= lastInput.newpassword || "" %>"> 
            </div>
            <div class="data">
                <div class="label">Confirm New Password</div>
                <input type="password" class="information" name="newpassword2" value="<%= lastInput.newpassword2 || "" %>">
            </div>
            <input type="email" class="information" name="targetemail" value="<%= userEmail %>" hidden>
        </div>
    </div>

    <div class="buttons">
        <a href="/user/profile" class="edit-profile-btn" style="margin: 0;">Cancel</a>
        <button>Update</button>
    </div>
</form>