<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
    <!-- Filepond stylesheet -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Load FilePond library -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <!-- <script defer src="/javascripts/fileUpload.js"></script> -->

    <% if (pageType == "index") { %>
        <script defer src="/scripts/checkbox-task.js"></script>
    <% } %> 
</head>
<body>
    <div class="container">
        <header>
            <% if(pageType == "index") { %>
                <%- include("../partials/index-header.ejs") %> 
            <% } else if (pageType == "signing") { %>
                <%- include("../partials/signing-header.ejs") %>     
            <% } else if (pageType == "profile") { %>
                <%- include("../partials/profile-header.ejs") %>
            <% } else { %>
                <%- include("../partials/index-header.ejs") %> 
            <% } %> 
        </header>
    
        <main>
            <%- body %> 
        </main>
    
        <footer>
            <p class="copyright">
                Copyright &copy; 2022 <a href="/" style="color: var(--main-purple)">cTask</a>. - By Hanif
            </p>
        </footer>
    </div>

    <section>
        <% if (pageType == "profile") { %>
            <%- include("../partials/mobile-nav.ejs") %> 
        <% } %>
    </section>
</body>
</html>