<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="others/cT.svg" type="image/svg+xml">
    <!-- <link rel="icon" href="<%= // pageType === 'profile' ? '../' : '' %>others/cT.svg" type="image/svg+xml"> -->
    <!-- <link rel="icon" href="<%= // backPath ? backPath : '' %>others/cT.svg" type="image/svg+xml"> -->
    <!-- <link rel="icon" href="<%= // require("path").__dirname %>others/cT.svg" type="image/svg+xml"> -->
    <title><%= title %></title>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
    <!-- Filepond stylesheet -->
    
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />

    <!-- Load FilePond library -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    
    <% if (pageType == "profile") { %>
        <script defer src="/scripts/fileUpload.js"></script>
    <% } %>

    <% if (pageType == "index") { %>
        <script defer src="/scripts/index.js"></script>
        <script defer src="/scripts/checkbox-task.js"></script>
    <% } %> 

    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <%- include("../partials/loader-page") %> 

    <div class="container">
        <header>
            <% if(pageType == "index") { %>
                <%- include("../partials/index-header.ejs") %> 
            <% } else if (pageType == "signing" || pageType == "404") { %>
                <%- include("../partials/signing-header.ejs") %>     
            <% } else if (pageType == "profile") { %>
                <%- include("../partials/profile-header.ejs") %>
            <% } else { %>
                <%- include("../partials/index-header.ejs") %> 
            <% } %> 
        </header>
    
        <main>
            <%- body %> 
        </main>
    
        <footer>
            <p class="copyright">
                Copyright &copy; 2022 <a href="/" style="color: var(--main-purple)">cTask</a>. - By Hanif
            </p>
        </footer>
    </div>

    <% if (pageType == "profile") { %>
        <%- include("../partials/mobile-nav.ejs") %> 

        <script defend src="/scripts/mobile-nav.js"></script>
    <% } %>
</body>
</html>